version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/app
    ports:
      - "${API_PORT:-8000}:3000"
    depends_on:
      - redis
    restart: always
    networks:
      - default
      # - shared_net

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL:-redis://redis:6379/0}
    volumes:
      - ./:/app
    command: ["python", "-m", "celery", "-A", "src.services.celery_service.celery_service", "worker", "-l", "info", "--concurrency=${CELERY_CONCURRENCY:-1}", "--events"]
    depends_on:
      - redis
    restart: always
    networks:
      - default
      # - shared_net

  flower:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL:-redis://redis:6379/0}
    volumes:
      - ./:/app
    ports:
      - "${FLOWER_PORT:-5555}:5555"
    command: ["python", "-m", "celery", "flower", "--broker=${CELERY_BROKER_URL:-redis://redis:6379/0}", "--address=0.0.0.0", "--port=${FLOWER_PORT:-5555}"]
    depends_on:
      - redis
    restart: always
    networks:
      - default

  redis:
    image: redis:alpine
    ports:
      - "${REDIS_PORT:-6379}:6379"
    restart: always
    networks:
      - default
  
networks:
  default:
    driver: bridge
  
  shared_net:          
    external: true